# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.DsD landscape.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity\DsD landscape\DsD landscape\.idea\.idea.DsD landscape\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
